![](https://www.dii.uchile.cl/wp-content/uploads/2021/06/Magi%CC%81ster-en-Ciencia-de-Datos.png)

# Proyecto: Innovación Tecnológica en Bodoque Bank

**MDS7202: Laboratorio de Programación Científica para Ciencia de Datos**

### Cuerpo Docente:

- Profesor: Pablo Badilla, Ignacio Meza De La Jara
- Auxiliar: Sebastián Tinoco
- Ayudante: Diego Cortez M., Felipe Arias T.

*Por favor, lean detalladamente las instrucciones de la tarea antes de empezar a escribir.*



# Proyecto

### Equipo:

- Martín Sepúlveda
- Maximiliano Varas


### Link de repositorio de GitHub: `\<http://....\>`


## 1. Introducción

In [1]:
...

Ellipsis

## 2. Lectura y Manejo de Datos

### 2.1 Cargar datos en dataframes

In [2]:
!git clone https://gitlab.com/imezadelajara/datos_proyecto_1_mds7202.git

fatal: destination path 'datos_proyecto_1_mds7202' already exists and is not an empty directory.

In [1]:
import pandas as pd

df_1 = pd.read_parquet('datos_proyecto_1_mds7202\df_1.parquet')
df_2 = pd.read_parquet('datos_proyecto_1_mds7202\df_2.parquet')
df_email_phone = pd.read_parquet('datos_proyecto_1_mds7202\df_email_phone.parquet')

### 2.2 Exploración inicial

In [4]:
df_1.head(5)

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_fraud_count,month,x1,x2
104446,729517,0,0.7,-1,305,60,0.030059,-1.599455,AC,990,...,500.0,0,INTERNET,8.865992,windows,0,0,2,-0.245425,0.568811
269483,149585,0,0.8,-1,140,50,0.015659,3.951994,AA,1269,...,200.0,0,INTERNET,4.654872,linux,1,0,7,0.009336,-2.096682
4102,64486,0,0.9,-1,171,50,0.001409,28.159779,AB,4430,...,1500.0,0,INTERNET,3.720953,linux,1,0,1,2.229616,-0.005823
351767,825283,0,0.5,-1,85,30,0.027292,-1.310498,AB,1698,...,200.0,0,INTERNET,2.912670,windows,1,0,3,-0.193945,0.861207
126377,8308,0,0.9,-1,39,30,0.010945,-1.450972,AC,569,...,200.0,0,INTERNET,2.283680,other,1,0,3,-2.440650,0.354986

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389782 entries, 104446 to 193209
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            389782 non-null  int64
 1   fraud_bool                    389782 non-null  int64
 2   income                        389782 non-null  float64
 3   prev_address_months_count     389782 non-null  int64
 4   current_address_months_count  389782 non-null  int64
 5   customer_age                  389782 non-null  int64
 6   days_since_request            389782 non-null  float64
 7   intended_balcon_amount        389782 non-null  float64
 8   payment_type                  389782 non-null  object
 9   zip_count_4w                  389782 non-null  int64
 10  velocity_6h                   389782 non-null  float64
 11  velocity_24h                  389782 non-null  float64
 12  velocity_4w                   389782 non-null  float64
 13  bank_branch_count_8w          389782 non-null  int64
 14  employment_status             389782 non-null  object
 15  credit_risk_score             389782 non-null  int64
 16  housing_status                389782 non-null  object
 17  bank_months_count             389782 non-null  int64
 18  has_other_cards               389782 non-null  int64
 19  proposed_credit_limit         389782 non-null  float64
 20  foreign_request               389782 non-null  int64
 21  source                        389782 non-null  object
 22  session_length_in_minutes     389782 non-null  float64
 23  device_os                     389782 non-null  object
 24  keep_alive_session            389782 non-null  int64
 25  device_fraud_count            389782 non-null  int64
 26  month                         389782 non-null  int64
 27  x1                            389782 non-null  float64
 28  x2                            389782 non-null  float64
dtypes: float64(10), int64(14), object(5)
memory usage: 89.2+ MB

In [6]:
df_2.head(5)

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_fraud_count,month,x1,x2
699954,303612,0,0.8,-1,21,40,0.010837,-0.853976,AD,239,...,200.0,0,INTERNET,48.127390,other,0,0,3,0.236931,0.077061
701206,568066,0,0.9,-1,70,50,0.711485,25.137456,AA,1873,...,200.0,0,INTERNET,8.792273,windows,1,0,3,0.571536,1.151563
270304,893344,0,0.7,-1,133,50,0.006856,-0.815330,AC,675,...,1000.0,0,INTERNET,15.916225,other,1,0,7,0.224252,-0.590459
346538,247688,0,0.8,-1,207,50,0.026194,-0.736615,AB,999,...,200.0,0,INTERNET,0.509942,linux,1,0,6,0.648528,-0.315911
147297,674478,0,0.8,-1,24,50,0.012646,10.744253,AA,3198,...,500.0,1,INTERNET,10.562945,other,0,0,6,0.041475,0.383332

In [7]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747410 entries, 699954 to 384611
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            747410 non-null  int64
 1   fraud_bool                    747410 non-null  int64
 2   income                        747410 non-null  float64
 3   prev_address_months_count     747410 non-null  int64
 4   current_address_months_count  747410 non-null  int64
 5   customer_age                  747410 non-null  int64
 6   days_since_request            747410 non-null  float64
 7   intended_balcon_amount        747410 non-null  float64
 8   payment_type                  747410 non-null  object
 9   zip_count_4w                  747410 non-null  int64
 10  velocity_6h                   747410 non-null  float64
 11  velocity_24h                  747410 non-null  float64
 12  velocity_4w                   747410 non-null  float64
 13  bank_branch_count_8w          747410 non-null  int64
 14  employment_status             747410 non-null  object
 15  credit_risk_score             747410 non-null  int64
 16  housing_status                747410 non-null  object
 17  bank_months_count             747410 non-null  int64
 18  has_other_cards               747410 non-null  int64
 19  proposed_credit_limit         747410 non-null  float64
 20  foreign_request               747410 non-null  int64
 21  source                        747410 non-null  object
 22  session_length_in_minutes     747410 non-null  float64
 23  device_os                     747410 non-null  object
 24  keep_alive_session            747410 non-null  int64
 25  device_fraud_count            747410 non-null  int64
 26  month                         747410 non-null  int64
 27  x1                            747410 non-null  float64
 28  x2                            747410 non-null  float64
dtypes: float64(10), int64(14), object(5)
memory usage: 171.1+ MB

In [8]:
df_email_phone.head(5)

,id,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid
987231,624588,0.555653,15,0,1,0,1
79954,620810,0.849718,2,0,1,0,0
567130,580633,0.110898,3,0,1,1,0
500891,6379,0.671250,15,0,1,0,1
55399,366511,0.772932,7,0,1,0,1

In [9]:
df_email_phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934730 entries, 987231 to 986114
Data columns (total 7 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                934730 non-null  int64
 1   name_email_similarity             934730 non-null  float64
 2   date_of_birth_distinct_emails_4w  934730 non-null  int64
 3   email_is_free                     934730 non-null  int64
 4   device_distinct_emails_8w         934730 non-null  int64
 5   phone_home_valid                  934730 non-null  int64
 6   phone_mobile_valid                934730 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 57.1 MB

*** Explicaciones ***

### 2.3 Unir dataframes

In [2]:
df_12 = pd.concat([df_1,df_2])
df_12

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_fraud_count,month,x1,x2
104446,729517,0,0.7,-1,305,60,0.030059,-1.599455,AC,990,...,500.0,0,INTERNET,8.865992,windows,0,0,2,-0.245425,0.568811
269483,149585,0,0.8,-1,140,50,0.015659,3.951994,AA,1269,...,200.0,0,INTERNET,4.654872,linux,1,0,7,0.009336,-2.096682
4102,64486,0,0.9,-1,171,50,0.001409,28.159779,AB,4430,...,1500.0,0,INTERNET,3.720953,linux,1,0,1,2.229616,-0.005823
351767,825283,0,0.5,-1,85,30,0.027292,-1.310498,AB,1698,...,200.0,0,INTERNET,2.912670,windows,1,0,3,-0.193945,0.861207
126377,8308,0,0.9,-1,39,30,0.010945,-1.450972,AC,569,...,200.0,0,INTERNET,2.283680,other,1,0,3,-2.440650,0.354986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626893,28360,0,0.8,-1,137,30,0.018466,49.088586,AA,915,...,500.0,0,INTERNET,4.090987,other,0,0,1,-0.563622,-0.204385
747411,428637,0,0.6,-1,60,50,0.026457,-0.949519,AD,3145,...,200.0,0,INTERNET,9.759439,windows,1,0,5,-0.874186,0.310623
121778,41856,0,0.7,25,18,30,1.426644,10.441915,AA,1188,...,200.0,0,INTERNET,2.899507,other,1,0,3,1.642429,-0.026783
568036,656236,0,0.6,-1,85,60,0.008277,-0.914454,AB,1021,...,200.0,0,INTERNET,4.031749,linux,0,0,5,-2.168143,0.745766
384611,988191,0,0.9,-1,56,30,0.006165,-1.103130,AD,1922,...,200.0,0,INTERNET,3.843607,linux,0,0,4,-1.662247,1.576214

### 2.4 Unir nuevas variables

In [3]:
df = df_12.join(df_email_phone.set_index('id'), on = 'id', how = 'outer')
df

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,device_fraud_count,month,x1,x2,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid
104446.0,729517,0.0,0.7,-1.0,305.0,60.0,0.030059,-1.599455,AC,990.0,...,0.0,2.0,-0.245425,0.568811,0.883485,2.0,1.0,1.0,0.0,1.0
757900.0,729517,0.0,0.7,-1.0,305.0,60.0,0.030059,-1.599455,AC,990.0,...,0.0,2.0,-0.245425,0.568811,0.883485,2.0,1.0,1.0,0.0,1.0
269483.0,149585,0.0,0.8,-1.0,140.0,50.0,0.015659,3.951994,AA,1269.0,...,0.0,7.0,0.009336,-2.096682,0.113208,4.0,1.0,1.0,1.0,1.0
757901.0,149585,0.0,0.8,-1.0,140.0,50.0,0.015659,3.951994,AA,1269.0,...,0.0,7.0,0.009336,-2.096682,0.113208,4.0,1.0,1.0,1.0,1.0
4102.0,64486,0.0,0.9,-1.0,171.0,50.0,0.001409,28.159779,AB,4430.0,...,0.0,1.0,2.229616,-0.005823,0.792797,4.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,36622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.488584,26.0,1.0,2.0,0.0,1.0
NaN,507501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.615749,3.0,0.0,1.0,1.0,1.0
NaN,468237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.493888,3.0,1.0,1.0,1.0,0.0
NaN,469817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.006752,2.0,0.0,1.0,1.0,0.0
NaN,549209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.761055,7.0,0.0,1.0,1.0,1.0

### 2.5 Verificar nulos y duplicados, generar explicaciones sobre sus fuentes y proponer soluciones.

In [12]:
df.duplicated().sum()

202334

In [13]:
df.isnull().sum()

id                                      0
fraud_bool                          60959
income                              60959
prev_address_months_count           60959
current_address_months_count        60959
customer_age                        60959
days_since_request                  60959
intended_balcon_amount              60959
payment_type                        60959
zip_count_4w                        60959
velocity_6h                         60959
velocity_24h                        60959
velocity_4w                         60959
bank_branch_count_8w                60959
employment_status                   60959
credit_risk_score                   60959
housing_status                      60959
bank_months_count                   60959
has_other_cards                     60959
proposed_credit_limit               60959
foreign_request                     60959
source                              60959
session_length_in_minutes           60959
device_os                           60959
keep_alive_session                  60959
device_fraud_count                  60959
month                               60959
x1                                  60959
x2                                  60959
name_email_similarity               79727
date_of_birth_distinct_emails_4w    79727
email_is_free                       79727
device_distinct_emails_8w           79727
phone_home_valid                    79727
phone_mobile_valid                  79727
dtype: int64

### 2.6 Limpiar

In [4]:
df = df.drop_duplicates()
df

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,device_fraud_count,month,x1,x2,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid
104446.0,729517,0.0,0.7,-1.0,305.0,60.0,0.030059,-1.599455,AC,990.0,...,0.0,2.0,-0.245425,0.568811,0.883485,2.0,1.0,1.0,0.0,1.0
269483.0,149585,0.0,0.8,-1.0,140.0,50.0,0.015659,3.951994,AA,1269.0,...,0.0,7.0,0.009336,-2.096682,0.113208,4.0,1.0,1.0,1.0,1.0
4102.0,64486,0.0,0.9,-1.0,171.0,50.0,0.001409,28.159779,AB,4430.0,...,0.0,1.0,2.229616,-0.005823,0.792797,4.0,0.0,1.0,0.0,1.0
351767.0,825283,0.0,0.5,-1.0,85.0,30.0,0.027292,-1.310498,AB,1698.0,...,0.0,3.0,-0.193945,0.861207,0.865082,10.0,0.0,1.0,0.0,1.0
126377.0,8308,0.0,0.9,-1.0,39.0,30.0,0.010945,-1.450972,AC,569.0,...,0.0,3.0,-2.440650,0.354986,0.450024,13.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,36622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.488584,26.0,1.0,2.0,0.0,1.0
NaN,507501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.615749,3.0,0.0,1.0,1.0,1.0
NaN,468237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.493888,3.0,1.0,1.0,1.0,0.0
NaN,469817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.006752,2.0,0.0,1.0,1.0,0.0
NaN,549209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.761055,7.0,0.0,1.0,1.0,1.0

In [5]:
df = df.dropna()
df

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,device_fraud_count,month,x1,x2,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid
104446.0,729517,0.0,0.7,-1.0,305.0,60.0,0.030059,-1.599455,AC,990.0,...,0.0,2.0,-0.245425,0.568811,0.883485,2.0,1.0,1.0,0.0,1.0
269483.0,149585,0.0,0.8,-1.0,140.0,50.0,0.015659,3.951994,AA,1269.0,...,0.0,7.0,0.009336,-2.096682,0.113208,4.0,1.0,1.0,1.0,1.0
4102.0,64486,0.0,0.9,-1.0,171.0,50.0,0.001409,28.159779,AB,4430.0,...,0.0,1.0,2.229616,-0.005823,0.792797,4.0,0.0,1.0,0.0,1.0
351767.0,825283,0.0,0.5,-1.0,85.0,30.0,0.027292,-1.310498,AB,1698.0,...,0.0,3.0,-0.193945,0.861207,0.865082,10.0,0.0,1.0,0.0,1.0
126377.0,8308,0.0,0.9,-1.0,39.0,30.0,0.010945,-1.450972,AC,569.0,...,0.0,3.0,-2.440650,0.354986,0.450024,13.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194216.0,707063,0.0,0.1,-1.0,260.0,60.0,0.026023,-0.587295,AB,1795.0,...,0.0,5.0,0.397897,-0.103541,0.870118,3.0,1.0,1.0,0.0,0.0
569926.0,784606,0.0,0.5,-1.0,30.0,50.0,0.052916,-1.249585,AB,1039.0,...,0.0,1.0,1.713050,-1.911669,0.094715,5.0,0.0,1.0,1.0,1.0
131070.0,216375,0.0,0.8,46.0,0.0,30.0,0.005857,-0.380745,AB,918.0,...,0.0,3.0,-0.727536,-1.540993,0.437026,13.0,0.0,1.0,0.0,1.0
121778.0,41856,0.0,0.7,25.0,18.0,30.0,1.426644,10.441915,AA,1188.0,...,0.0,3.0,1.642429,-0.026783,0.449010,15.0,0.0,1.0,1.0,1.0
384611.0,988191,0.0,0.9,-1.0,56.0,30.0,0.006165,-1.103130,AD,1922.0,...,0.0,4.0,-1.662247,1.576214,0.769959,10.0,1.0,1.0,1.0,1.0

In [6]:
rangos = [0, 17, 26, 59, df['customer_age'].max()]
etiquetas = ['Joven', 'Adulto-Joven', 'Adulto', 'Persona Mayor']

# Crear la nueva columna "segmentacion_etaria"
df['segmentacion_etaria'] = pd.cut(df['customer_age'], bins=rangos, labels=etiquetas)

# Mostrar el DataFrame resultante
df

C:\Users\marti\AppData\Local\Temp\ipykernel_2612\1495830444.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['segmentacion_etaria'] = pd.cut(df['customer_age'], bins=rangos, labels=etiquetas)

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,month,x1,x2,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid,segmentacion_etaria
104446.0,729517,0.0,0.7,-1.0,305.0,60.0,0.030059,-1.599455,AC,990.0,...,2.0,-0.245425,0.568811,0.883485,2.0,1.0,1.0,0.0,1.0,Persona Mayor
269483.0,149585,0.0,0.8,-1.0,140.0,50.0,0.015659,3.951994,AA,1269.0,...,7.0,0.009336,-2.096682,0.113208,4.0,1.0,1.0,1.0,1.0,Adulto
4102.0,64486,0.0,0.9,-1.0,171.0,50.0,0.001409,28.159779,AB,4430.0,...,1.0,2.229616,-0.005823,0.792797,4.0,0.0,1.0,0.0,1.0,Adulto
351767.0,825283,0.0,0.5,-1.0,85.0,30.0,0.027292,-1.310498,AB,1698.0,...,3.0,-0.193945,0.861207,0.865082,10.0,0.0,1.0,0.0,1.0,Adulto
126377.0,8308,0.0,0.9,-1.0,39.0,30.0,0.010945,-1.450972,AC,569.0,...,3.0,-2.440650,0.354986,0.450024,13.0,1.0,1.0,0.0,0.0,Adulto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194216.0,707063,0.0,0.1,-1.0,260.0,60.0,0.026023,-0.587295,AB,1795.0,...,5.0,0.397897,-0.103541,0.870118,3.0,1.0,1.0,0.0,0.0,Persona Mayor
569926.0,784606,0.0,0.5,-1.0,30.0,50.0,0.052916,-1.249585,AB,1039.0,...,1.0,1.713050,-1.911669,0.094715,5.0,0.0,1.0,1.0,1.0,Adulto
131070.0,216375,0.0,0.8,46.0,0.0,30.0,0.005857,-0.380745,AB,918.0,...,3.0,-0.727536,-1.540993,0.437026,13.0,0.0,1.0,0.0,1.0,Adulto
121778.0,41856,0.0,0.7,25.0,18.0,30.0,1.426644,10.441915,AA,1188.0,...,3.0,1.642429,-0.026783,0.449010,15.0,0.0,1.0,1.0,1.0,Adulto
384611.0,988191,0.0,0.9,-1.0,56.0,30.0,0.006165,-1.103130,AD,1922.0,...,4.0,-1.662247,1.576214,0.769959,10.0,1.0,1.0,1.0,1.0,Adulto

## 3. Análisis Exploratorio de Datos

In [16]:
!pip install ydata_profiling

^C

In [28]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="EDA")
profile.to_file("eda.html")

c:\Users\marti\AppData\Local\Programs\Python\Python310\lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset:  88%|████████▊ | 38/43 [01:11<00:02,  1.96it/s, Calculate auto correlation]                        c:\Users\marti\AppData\Local\Programs\Python\Python310\lib\site-packages\ydata_profiling\model\pandas\correlations_pandas.py:84: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  return _cramers_corrected_stat(pd.crosstab(col_1, col_2), correction=True)
c:\Users\marti\AppData\Local\Programs\Python\Python310\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'cannot reindex on an axis with duplicate labels')
  warnings.warn(
Summarize dataset: 100%|██████████| 486/486 [05:33<00:00,  1.46it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:22<00:00, 23.00s/it]
Render HTML: 100%|██████████| 1/1 [00:21<00:00, 21.64s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  5.08it/s]

### 3.1 Análisis del EDA

In [ ]:
...

## 4. Preprocesamiento

### 4.1 Declarar `ColumnTransformer`

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 873771 entries, 104446.0 to 384611.0
Data columns (total 36 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                873771 non-null  int64
 1   fraud_bool                        873771 non-null  float64
 2   income                            873771 non-null  float64
 3   prev_address_months_count         873771 non-null  float64
 4   current_address_months_count      873771 non-null  float64
 5   customer_age                      873771 non-null  float64
 6   days_since_request                873771 non-null  float64
 7   intended_balcon_amount            873771 non-null  float64
 8   payment_type                      873771 non-null  object
 9   zip_count_4w                      873771 non-null  float64
 10  velocity_6h                       873771 non-null  float64
 11  velocity_24h                      873771 non-null  float64
 12  velocity_4w                       873771 non-null  float64
 13  bank_branch_count_8w              873771 non-null  float64
 14  employment_status                 873771 non-null  object
 15  credit_risk_score                 873771 non-null  float64
 16  housing_status                    873771 non-null  object
 17  bank_months_count                 873771 non-null  float64
 18  has_other_cards                   873771 non-null  float64
 19  proposed_credit_limit             873771 non-null  float64
 20  foreign_request                   873771 non-null  float64
 21  source                            873771 non-null  object
 22  session_length_in_minutes         873771 non-null  float64
 23  device_os                         873771 non-null  object
 24  keep_alive_session                873771 non-null  float64
 25  device_fraud_count                873771 non-null  float64
 26  month                             873771 non-null  float64
 27  x1                                873771 non-null  float64
 28  x2                                873771 non-null  float64
 29  name_email_similarity             873771 non-null  float64
 30  date_of_birth_distinct_emails_4w  873771 non-null  float64
 31  email_is_free                     873771 non-null  float64
 32  device_distinct_emails_8w         873771 non-null  float64
 33  phone_home_valid                  873771 non-null  float64
 34  phone_mobile_valid                873771 non-null  float64
 35  segmentacion_etaria               873771 non-null  category
dtypes: category(1), float64(29), int64(1), object(5)
memory usage: 240.8+ MB

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
import pandas as pd


transformations = [('passthrough', 'passthrough', ['id','fraud_bool']),
               ('escalar', StandardScaler(), ['prev_address_months_count','current_address_months_count',
                                              'customer_age','days_since_request',
                                              'intended_balcon_amount','zip_count_4w','velocity_6h',
                                              'velocity_24h','velocity_4w','bank_branch_count_8w',
                                              'credit_risk_score','bank_months_count','has_other_cards',
                                              'proposed_credit_limit','foreign_request','session_length_in_minutes',
                                              'keep_alive_session','device_fraud_count','month',
                                              'x1','x2','name_email_similarity',
                                              'date_of_birth_distinct_emails_4w','email_is_free','device_distinct_emails_8w',
                                              'phone_home_valid','phone_mobile_valid']),
               ('ordinal', OneHotEncoder(), ['payment_type','employment_status','housing_status',
                                             'source','device_os','segmentacion_etaria'])]

### 4.2 Transformar datos

In [18]:
# Crear el ColumnTransformer
ct = ColumnTransformer(transformers=transformations)

# Aplicar las transformaciones al DataFrame
df_transformed = ct.fit_transform(df)

In [19]:
df_transformed = pd.DataFrame(df_transformed)
df_transformed

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,729517.0,0.0,-0.364069,2.187896,1.355560,-0.174633,-0.494630,-0.546784,-0.051301,-0.492381,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,149585.0,0.0,-0.364069,0.433462,0.628951,-0.177515,-0.224200,-0.257723,-0.900103,-1.288948,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,64486.0,0.0,-0.364069,0.763083,0.628951,-0.180367,0.955043,3.017266,0.123479,-0.310357,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,825283.0,0.0,-0.364069,-0.151350,-0.824266,-0.175187,-0.480554,0.186747,0.832367,0.208601,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,8308.0,0.0,-0.364069,-0.640465,-0.824266,-0.178458,-0.487397,-0.982965,-0.075500,0.629428,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873766,707063.0,0.0,-0.364069,1.709414,1.355560,-0.175441,-0.445324,0.287245,-0.967166,-1.015955,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
873767,784606.0,0.0,-0.364069,-0.736162,0.628951,-0.170059,-0.477587,-0.496017,2.590137,2.273259,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
873768,216375.0,0.0,0.728286,-1.055150,-0.824266,-0.179477,-0.435262,-0.621380,-1.253749,-0.725474,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
873769,41856.0,0.0,0.240212,-0.863757,-0.824266,0.104862,0.091946,-0.341644,-0.299649,1.109774,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
873770,988191.0,0.0,-0.364069,-0.459705,-0.824266,-0.179415,-0.470452,0.418825,-0.980242,0.076515,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## 5. Visualización en Baja Dimensionalidad

### 5.1 Muestrear dataframe

In [ ]:
...

### 5.2 Proyectar y agregar proyecciones al dataframe de muestreo

In [ ]:
...

### 5.3 Visualizar según rangos etarios

In [ ]:
...

## 6. Anomalías

### 6.1 Implementar detector de anomalías sobre dataframe de muestreo

In [ ]:
...

### 6.2 Agregar resultados a dataframe de muestreo

In [ ]:
...

### 6.3 Visualizar según rangos etarios

In [ ]:
...

### 6.4 Calcular ratios y responder

In [ ]:
...